on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Publish Release

jobs:
  publish:
    name: Npm Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - name: Run linter
        run: npm run lint
      - name: Run test cases
        run: npm run test
      - name: Run build
        run: npm run build
      - name: Run publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  release:
    needs: publish
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Create Release for Tag
        id: release_tag
        uses: yyx990803/release-tag@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          body: |
            更新内容参见 [CHANGELOG](https://mulcloud.github.io/muld/#/zh-CN/changelog)。
            Please refer to [CHANGELOG](https://mulcloud.github.io/muld/#/en-US/changelog) for details.
